h1= title
p Welcome to #{title}
  form(method="post", action='/sketchpad')
    ul
      li: a.sketch(href='/sketchpad') Start Sketchin'
      li: a(href='/oauthtests.html') OAuth Demo
  script(type='text/javascript')
    $('.sketch').click(function(e) {
      e.preventDefault();
      $('form').submit();
    });
