html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="http://connect.facebook.net/en_US/all.js")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(type="text/javascript", src="/javascripts/oauth.js") 
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26512248-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #fb-root
    #login
    != body
    script#login-template(type="text/template")
      fb:login-button(autologoutlink="true", perms="friends_online_presence,create_event")
