#sketch
  #welcome
    h1 What is this?
    p
      | SketchWith.Us is a collaborative sketching tool.
      | We make it easy to draw online in real-time with
      | your friends or colleagues.
    h1 What can I use it for?
    p
      | Some people use SketchWith.Us to sketch out quick
      | ideas, but it's also fun to just draw stick-men
      | with your friends.
    h1 How does it work?
    p
      | We're web-geeks, so we built SketchWith.Us from the
      | ground up to use modern web technologies. To name a few:
    ul
      li HTML5 Canvas
      li WebSockets
    div(id="start")
      input(type="submit", value="Start Sketchin'")

script(type="text/template", id="toolbox-template")
  | <div class="color"></div>
  | <a class="pen" href="javascript:void(0);">Pen</a>
  | <a class="eraser" href="javascript:void(0);">Eraser</a>
  | <a class="width small" href="javascript:void(0);">Small</a>
  | <a class="width medium" href="javascript:void(0);">Medium</a>
  | <a class="width large" href="javascript:void(0);">Large</a>

script(type="text/template", id="artist-template")
  | <div class="artist">
  |   <img class="profile-image" height="36" width="36" src="/images/anonymousUser.jpg"/>
  | </div>

script(type="text/template", id="invite-template")
  | <div class="invitation">
  |   <p>Send this link to your friends so they can draw with you.</p>
  |   <input type="text" value="<%=href%>" />
  |   <button class='simplemodal-close'>Close</button>
  | </div>

script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.8.4/socket.io.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js")
script(type="text/javascript", src="/plugins/colorstrip/colorstrip.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/require.js/0.26.0/require.min.js", data-main="/javascripts/main")
