#sketch

#sketchoptions
  h3 Options
  div(id="color")
  input(id="eraser", type="checkbox")
  label(for="eraser") Eraser
  input#width(type="range", min="1", max="25", step="1")

#authentication-panel
#colorstrip
#chat

script(type="text/template", id="login-template")
  fb:login-button(perms="friends_online_presence,create_event") Start Sketchin'

script(type="text/template", id="loggedin-template")
  | <h3>Sketching With:</h3>
  | <div id="artists"></div>
  | <a class="logout-link" href="javascript:void(0)">Logout from Facebook</a>

script(type="text/template", id="artist-template")
  |<div class="artist" id="<%= artist_id %>">
  |  <label for="<%=id%>">
  |    <img class="profile-image" height="36" width="36" src="http://graph.facebook.com/<%=id%>/picture" />
  |    <div><%= name %></div>
  |  </label>
  |  <div style="clear:both"></div>
  |</div>

script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.8.4/socket.io.min.js")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/require.js/0.26.0/require.min.js", data-main="/javascripts/main")
script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js")
script(type="text/javascript", src="https://raw.github.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js")
script(type="text/javascript", src="/javascripts/chat.js") 

script(type="text/javascript", src="/plugins/colorstrip/colorstrip.min.js")
