#social
  script(type="text/javascript")
    var addthis_config =
    {
      services_expanded: 'google_plusone'
    }

  div.addthis_toolbox.addthis_default_style
    a.addthis_button_preferred_1
    a.addthis_button_preferred_2
    a.addthis_button_preferred_3
    a.addthis_button_preferred_4
    a.addthis_button_google_plusone
    a.addthis_button_compact
    a.addthis_counter.addthis_bubble_style
  script(type="text/javascript", src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ed58ad62cc6df97")
