body {
  padding : 0px;
}

#stage {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

#authentication-panel {
  display:none;
}

#login-panel {
  float : right;
  margin-top : 0px;
  margin-bottom : 20px;
}

#registration-panel {
  clear : both;
}

#user-box {
  float : right;
  width : 218px;
}

.profile-image {
  float:left; 
  margin-right:10px;
}

ul#friends {
  list-style-type : none;
}

.user {
  clear : both;
}

.logout-link {
  margin-left : 5px;
}

.important {
  font-weight : bolder;
  font-size : 1.1em;
}
