#fb-login-wrapper {
  display:none;
  position:absolute;
  top:5;
  left:5;
}

#stage {
  width:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:250px;
}

.profile-image {
  float:left; 
  margin-right:10px;
}