body
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body, div, ul, li
{
  margin: 0;
  padding: 0;
}

a
{
  color: #00B7FF;
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

#container {
  margin: 0 auto;
  width: 900px;
}

#header {
  position: relative;
  margin: 0 50px;
}

#header h1 {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  white-space: nowrap;
  width: 100%;
  height: 128px;
  background: url(/images/swu_green.png) no-repeat top left;
}

#login {
  position: absolute;
  top: 53px;
  right: 0;
}

#content {
  position: relative;
  padding: 0 50px 40px 50px;
}

#sketch {
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

#welcome {
  padding: 50px;
}

#welcome h1 {
  margin: 0;
  padding: 0;
}

#welcome ul {
  margin-left: 40px;
}

.artists {
  position : absolute;
  top : 0;
  left : 0;
}

.toolbox {
  position : absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 480px;
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  background-color: #e6e6e6;
}

.toolbox a {
  display: block;
}

.color {
  margin: 7px;
  position: relative;
  width: 36px;
  height: 36px;
  background-color: black;
}

.colorstrip {
  width: 800px;
  height: 80px;
}

.chat {
  position: absolute;
  top: 725px;
  left: 220px;
  width: 800px;
}

.chat ul {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-bottom: 0px;
}


.chat ul li {
  list-style-type: none;
  margin-left: 0px;
}

.chat input {
  width: 800px;
}

#social {
  clear: both;
  position: relative;
  z-index: 10;
  height: 40px;
  margin-top: -40px;
  width: 100%;
  overflow: auto;
  text-align: center;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #dddddd 50%, #ffffff 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dddddd), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

#social ul {
  margin: 0 auto;
  padding: 10px 0;
  list-style-type: none;
}

#social li {
  text-align: left;
  display: inline-block;
  height: 20px;
  width: 90px;
}

#social iframe {
  vertical-align: baseline !important;
  height: 20px !important;
}

.invite {
  cursor: pointer;
}

.profile-image {
  margin: 4px 0;
}

#basic-modal-content {
  display:none;
}

#simplemodal-overlay {
  background-color:#000;
  cursor:wait;
}

#simplemodal-container {
  background-color:#fff;
  border:4px solid #ddd;
  padding:12px;
}

.invitation input[type="text"] {
  display: block;
  width: 100%;
}

.invitation button {
  margin: 1em 0;
}
