body
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/swu_green.png) no-repeat top center;
}

body, div, ul, li
{
  margin: 0;
  padding: 0;
}

a
{
  color: #00B7FF;
}

#authentication-panel {
  position : absolute;
  top : 155px;
  left : 20px;
}

#sketch {
  position : absolute;
  top : 128px;
  left : 220px;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

.toolbox {
  padding: 15px;
  position : absolute;
  top : 128px;
  left : 1020px;
  width: 50px;
  height: 450px;
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  background-color: #e6e6e6;
}

.toolbox a {
  display: block;
}

.color {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: black;
}

.colorstrip {
  width: 800px;
  height: 80px;
  position: absolute;
  top: 610px;
  left: 220px;
}

#login {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.chat {
  position: absolute;
  top: 725px;
  left: 220px;
  width: 800px;
}

.chat ul {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-bottom: 0px;
}


.chat ul li {
  list-style-type: none;
  margin-left: 0px;
}

.chat input {
  width: 800px;
}

#social {
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow: auto;
  text-align: center;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #dddddd 50%, #ffffff 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#dddddd), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  background: linear-gradient(left, #ffffff 0%,#dddddd 50%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

#social ul {
  margin: 0 auto;
  padding: 10px 0;
  list-style-type: none;
}

#social li {
  text-align: left;
  display: inline-block;
  height: 20px;
  width: 90px;
}

#social iframe {
  vertical-align: baseline !important;
  height: 20px !important;
}
