body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div
{
  margin: 0;
  padding: 0;
}

a
{
  color: #00B7FF;
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 143px;
  width: 600px;
  background-image: url(/images/cheesy2.png);
}

#authentication-panel {
  position : absolute;
  top : 155px;
  left : 20px;
}

#sketch {
  position : absolute;
  top : 155px;
  left : 220px;
  width: 800px;
  height: 480px;
  border: 1px solid black;
}

#sketchoptions {
  position : absolute;
  top : 155px;
  left : 1045px;
  width: 150px;
  height: 480px;
  border: 1px black solid;
  border-radius: 15px;
  background-color: #e6e6e6;
}

#sketchoptions h3 {
  margin: 15px;
}

#colorSelector {
  position: relative;
  margin: 15px;
  width: 36px;
  height: 36px;
  background: url(/plugins/colorpicker/images/select.png);
}

#colorSelector div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(/plugins/colorpicker/images/select.png) center;
}
